<div class="calendar">
  <table class="centered">
    <thead>
      <tr class="weeknames">
        <th *ngFor="let day of weekdays">
          {{ day }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataRow of data; let i = index">
        <td *ngFor="let dataPoint of dataRow; let j = index">
          <app-day [day]="data[i][j].day" [month]="month" [year]="year" [active]="data[i][j].active" [sessions]="data[i][j].sessions"></app-day>
        </td>
      </tr>
    </tbody>
  </table>
</div>

