div.calendar {
  background-color: #e3e3e3;
  border: 1px solid black;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  height: 670px;
  width: 1004px;
}

table.centered {
  margin: 10px;
}

tr.weeknames {
  height: 32px;
  font-size: 24px;
}
